
# Git
.git
.gitignore

# Docker
Dockerfile
Dockerfile.prod
docker-compose.yml

# Node
node_modules
npm-debug.log
pnpm-debug.log

# Next.js build output
.next/

# Environment files
.env*
!.env.example

# OS-specific
.DS_Store
Thumbs.db